.story {
    margin: 0 auto;
    width: 75%;

    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;

    font-size: $default-font-size; 
    transform: skewX(-12deg);

    &__shape {
        height: 15rem;
        width: 15rem;

        float: left;
        // control how content will wrap, should set w, h, float
        // 1st param - radius
        // 2nd - padding x
        // 3d - padding y
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);

        // form of the element
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        
        // space between shape and text
        transform: translateX(-3rem) skewX(12deg);
        overflow: hidden;

        position: relative;
    }
    
    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        transition: all .5s;
    }
    

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 20%);
        text-transform: uppercase;
        color: $color-white;
        font-size: 1.7rem;

        text-align: center;

        opacity: 0;
        transition: all .5s;

        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}